<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
    
    <style>
table, th, td {
	border: 1px solid blue;
}
</style>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

<div class="container" align="center">

    <div class="starter-template">
         <h1 th:inline="text">Solution provided by : [[${#httpServletRequest.remoteUser}]]!</h1>

 <form th:action = "@{/user/edit}" method="post" >

			<table border=1>
				<tr>
					<th>Answer Id</th>
					<th>Question Id</th>
					<th>Answer</th>
					<th>Student Name</th>
					<th>File Name</th>
				</tr>
				<tr th:if="${answerList.empty}">
					<td colspan="2">No Answer Available</td>
				</tr>
				<tr th:each="answer : ${answerList}">
					<td th:text="${answer.id}"      align="center"></td>
					<td th:text="${answer.question_id}"      align="center"></td>
					<td th:text="${answer.answer}"  align="center"></td>
					<td th:text="${answer.studentName}" align="center"></td>
					<td> <a th:href="${answer.id}" th:text="${answer.fileName}" ></a></td>
					<td> <a th:href="@{/user/answer/edit(aid=${answer.id},qid=${answer.question_id})}"> edit</a></td>
					<td> <a th:href="@{/user/answer/discuss(aid=${answer.id},qid=${answer.question_id})}"> discuss</a></td>
					
				</tr>
			</table>
</form>

			
          <a th:href="@{/home}">  <input type="submit" value="Cancel"/> </a>
        

    </div>

</div>
<!-- /.container -->

<div th:replace ="fragments/footer :: footer"></div>

</body>
</html>