<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Teacher Student Work Module</title>
  <div th:replace="fragments/header :: header-css" ></div> 
 </head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div  align="center">
    <h3>[[${message}]]</h3><div>&nbsp;</div>
    <table> 
        <tr><td colspan="2" align="center" ><h1> -- Home -- </h1> </td></tr>
        <tr><td>1.</td><td> <a th:href="@{/super/admin/report}">Report</a></td></tr>
        <tr><td>2.</td><td> <a th:href="@{/admin/userCreation}">Create new user</a></td></tr>
        <tr><td>3.</td><td> <a th:href="@{/user/questionList}">My question List</a></td></tr>
        <tr><td>4.</td><td> <a th:href="@{/user/question}">Student's question</a></td></tr>
        <tr><td>5.</td><td> <a th:href="@{/user/answerList}">My answer list</a></td></tr>
      </table>
    </div>

</div>
<!-- /.container -->
<div>&nbsp;</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>